@font-face {
    font-family: 'Cheva';
    src: url('../fonts/ChevadisplayRegular-1G5ve.otf');
  }
  /* Reset de márgenes y padding */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather";
  }
  
  /* Estilo para la barra de navegación */
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    font-family: "Merriweather";
  }
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  /* Estilos para la sección hero */
  .hero {
    background: url(../images/andrei-j-castanha-pwk2M7xkZBU-unsplash.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero-content h2 {
    font-size: 7rem;
    margin-bottom: 20px;
    font-family: "Cheva";
  }
  
  .hero-content p {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: #c0ae94;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #978b7a;
  }
  
  /* Estilo para las categorías de productos */
  .productos {
    padding: 60px 20px;
    text-align: center;
  }
  
  .productos .section-title {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .productos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .producto {
    flex: 1 1 calc(33% - 40px);
    max-width: 300px;
    padding: 20px;
    text-align: center;
  }
  
  .producto img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
  }
  
  .producto:hover img {
    transform: scale(1.1); /* Hace la animación del zoom */
  }
  
  .producto h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* Estilos para las ofertas */
  .ofertas {
    background-color: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
  }
  
  .ofertas .section-title {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .oferta-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .oferta-item {
    flex: 1 1 calc(50% - 40px);
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .oferta-item img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
  }
  
  .oferta-item:hover img {
    transform: scale(1.1); /* Hace la animación del zoom */
  }
  
  /* Pie de página */
  footer {
    background-color: #a39a8d;
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    font-family: "Merriweather", serif;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-info,
  .footer-contact {
    flex: 1 1 calc(50% - 20px);
  }
  
  .footer-contact ul {
    list-style: none;
  }
  
  .footer-contact ul li {
    margin-bottom: 8px;
    
  }
  
  /* Media Queries para adaptabilidad */
  @media (max-width: 768px) {
    nav {
      flex-wrap: wrap;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  
    .hero-content h2 {
      font-size: 2rem;
    
    }
  
    .hero-content p {
      font-size: 0.9rem;
    }
  
    .productos-container,
    .oferta-items {
      flex-direction: column;
      align-items: center;
    }
  
    .producto,
    .oferta-item {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .footer-info,
    .footer-contact {
      flex: 1 1 100%;
      text-align: center;
    }
  }

  
.logo  {
  width: 40px;
  height: 40px;
  height: auto; /* Mantiene la proporción */
  margin: 0; /* Elimina márgenes innecesarios */


}